/* Notice_board Q&A_board c_index(Free_board) introduce*/
@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
}
body{
	font-family: 'Godo', sans-serif;
}

#postListContainer{
	width:1280px;
	margin: 200px auto 100px auto;
}

 h1{
	text-align:center;
	margin-top: 50px;
}

table{
	border-collapse: collapse;
}

.postList{
	border-bottom: solid 1px; 
	border-bottom-color: lightgray;
	text-align: center;
}

#pNum{
	width:80px;
}

#title{
	width:800px;
}

#writter{
	width:120px;
}

#writeDate{
	width:180px;
}

#viewCnt{
	width:100px;
}

.write-btn{
	width: 70px;
	height: 30px;
	margin-left:1200px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  margin-left:-50px;
}

.hbody {
  background-color: black;
  width: 100%;
  height: 100px;
}

.hbody_introduce {
	background-color: black;
	width: 100%;
	height: 100px;
	position:fixed;
  }
  

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  color: white;
}

 #menu-2{
  display: flex;
  margin-left: 621px;
}

.title {
  font-size: 2em;
}

.title > a {
  color: white;
  margin-left:10px;
}

.footer {
  background-color: black;
  color:white;
  height: 70px;
  font-size: 15px;
  
}
.footer p{
  /* vertical-align: middle; */
  line-height: 70px;
  text-align: center;; 
}

.bg-red{
  background-color: red;;

} 
.container{
  width: 100%;
  min-height: 300px;
}

.Free_board{
	margin-top:50px;
	width: 980px;
	padding: 10px;
	margin-bottom: 100px;
}

.notice{
  width: 577px;
  text-align: center;
  padding: 10px;
  margin-right:26px;
}

.new_board{
  width: 577px;
  padding: 10px;
}

legend{
  margin-right:25px
}

.write-btn{
	width: 70px;
	height: 30px;
	margin-left:1200px;
}

.write-btn {
	background:linear-gradient(to bottom, #b2b2b2 5%, #b2b2b2 100%);
	background-color:#b2b2b2;
	border-radius:5px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:5px;
	text-decoration:none;
	width: 90px;
	height: 40px;
}

.write-btn:hover {
	background:linear-gradient(to bottom, #b2b2b2 5%, #b2b2b2 100%);
	background-color:#b2b2b2;
}

.write-btn:active {
	position:relative;
	top:1px;
}


@media screen and (min-width: 625px) {
/* 화면이 클때 */
  #menu {
    display: flex;
    margin-left: 200px;
  }

  #menu > li {
    padding: 20px 30px;
    font-size: 20px;
    margin-left: -42px;
  }

  #menu-2{
      display: flex;
      margin-left: 621px;
    }
  #menu-2 > li {
      padding: 20px 30px;
      font-size: 20px;
      
   }
  
  li > a {
    color: white;
  }

}




@media screen and (max-width: 625px) {
/* 화면이 작을 때 */
  .nav {
    padding: 30px 40px;
  }

  #menu {
    display: none;
  }


}


#mainContent {
	width: 1000px;
	margin: 30px auto;
}

#main_upperContent{
	width: 1004px;
	display: flex;
}

#main_hot_category, #main_new_category {
	color: gray;
}

#main_hot_title {
	color: black;
	margin-right: 140px;
}

#main_hot_wrDate {
	margin-right: 40px;
}

#main_hot_viewCnt {
	margin-left: 40px;
}

#main_new_title {
	margin-right: 40px;
	color: black;
}

#main_notice_title {
	margin: 0 50px;
	color: black;
}

footer{
	margin-top: 150px;
}