/* login findid findpw info_confirm */
@charset "UTF-8";
body {
    /* login */
	background-color: #B2B2B2;
    font-family: 'Ubuntu', sans-serif;
	overflow-y: hidden;
    text-align: center;
}

.main {
    /* login */
    /* findall */
    /* info_confirm */
    background-color: #FFFFFF;
    width: 550px;
    height: 550px;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

#main {
    background-color: #FFFFFF;
    width: 550px;
    height: 550px;
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

#main2 {
    /* findall */
    /* display: none; */
    background-color: #FFFFFF;
    width: 550px;
    height: 550px;
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
    /* login */
    /* findall */
    /* info_confirm */
    padding-top: 40px;
    color: #000;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}
    
form.form1 {
    /* login */
    /* findall */
    /* info_confirm */
    padding-top: 40px;
}
    
.un:focus .pass:focus {
    /* login */
    /* findall */
    border: 2px solid rgba(0, 0, 0, 0.18) !important;    
}

.pass {
    /* login */
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-left: auto;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

#pass {
    /* findall */
    width: 300px;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 50px;
    margin-left: 6px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

#un {
    /* findall */
    margin-right:110px;
    margin-left:110px;
    border: 1px solid;
    width: 300px;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 50px; 
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.submit {
    /* login */
    /* findall */
    /* info_confirm */
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: #B2B2B2;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    font-weight: bold;;
}

.submit2 {
    /* findall */
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: #B2B2B2;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;
    font-size: 16px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    font-weight: bold;;
}

.forgot {
    /* login */
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #000;
    padding-top: 15px;
    font-size:13px;
}
    
 .register a {
    /* login */
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #000;
    text-decoration: none
} 

.forgot_a {
    /* login */
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #000;
    text-decoration: none;
}
    

@media (max-width: 3000px) {
    body{
        position: absolute; 
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .main {
        /* border-radius: 0px; */
        border-radius: 1.5em;    
    }
}

img{
    width: 200px;
    height: 200px;
    padding: 0;
    text-align:center;
}

.txt_center{
    /* info_confirm */
    text-align:center;
    margin-top:auto;
    padding-bottom:25px;
    font-size: 14px;
}

.reset {
    /* findall */
    /* info_confirm */
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: #B2B2B2;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    font-weight: bold;;
}


#findid{
    /* findall */
    background-color: #FFFFFF;
    border:none;
    width: 280px;
    position: absolute;
    top:-40px;
    left:0px;
    height:70px;
    line-height:70px;
    border-top-left-radius: 1.5rem;
    font-weight: bold;
    font-size: 20px;
    cursor:pointer;
}

#findpw{
    /* findall */
    background-color: #FFFFFF;
    border:none;
    width: 270px;
    position: absolute;
    border-top-right-radius: 1.5rem;
    left:280px;
    top:-40px;
    height:70px;
    line-height:70px;
    font-weight: bold;
    font-size: 20px;
    cursor:pointer;
}

.hr-id{
    /* findall */
    width: 275px;
    position:absolute;
    top:16px;
    border-top: 2px solid #b2b2b2;
}

.hr-pw{
    /* findall */
    width: 275px;
    position:absolute;
    top:16px;
    left:273px;
    border-top: 2px solid #b2b2b2;
    /* display:none; */
}

#reset{
    position:absolute;
    left:243px;
    font-size:15px;
    top: 370px;
}

#reset2{
    position:absolute;
    left:243px;
    font-size:15px;
    top:450px;
}
