* {
	margin: 0 auto;
	padding: 0px;
}
body {
	background-color: #B2B2B2;;
    font-family: 'Ubuntu', sans-serif;
}

.headerdiv {
	text-align: center;
	/* float: left; */
	justify-content: center;
	margin-top: 100px;
}

.MainP {
	display: inline-block;
	width: 100px;
	height: 50px;
	background-color: #FFFFFF;
    margin: 1em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
	line-height: 50px;
}

.MainSection {
        background-color: #FFFFFF;
        width: 900px;
        height: 30%;
        margin: 1em auto;
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.listdiv {
    width: 200px;
    height: 700px;
    float: left;
    font-size: 20px;
    margin-left: 50px;
}

.listul {
    list-style-type: none;
}

.listul a {
    text-decoration: none;
}

.listul a:link, a:visited, a:hover, a:active {
    color : black;
}

.listul li {
    margin: 10px 10px auto;
}


.MemberTable {
	justify-content: center;
	text-align: center;
	margin: 0 auto;
	border-collapse: collapse;
	font-size: 15px;
}

.MemberTable a{
	text-decoration: none;
	color: rgb(225, 181, 93);
}

.MemberTable > a:link {
	color: rgb(225, 181, 93);
}

.MemberTable > a:visited {color: rgb(225, 181, 93);}

.MemberTable > a:hover {color: rgb(225, 181, 93);}

.MemberTable > a:active {color: rgb(225, 181, 93);}

.MemberTable thead tr td{
	width: 100px;
	height: 50px;
	border: 1px #000 solid;
}

.deleteBtn {
	text-align: center;
	width: 100px;
	height: 50px;
}
