@charset "UTF-8";
.container{
	
	margin-top: 120px;
	position:absolute;
}
.content-title{
	margin-left: 580px;
	display:flex;	
}
.article-content{

	margin-left: 585px;
}
.content-textarea{
	width:729px;
	height:449px;
	border: 1px solid black;
	resize: none;
}


.writer{
	margin-left: 481px;
	position: absolute;
	top:1px;
	right: 585px;

}
.comment-submit{
	height:44px; 
	width:83px;
	

}
.comment-contents{
	width:650px;
	height: 40px;
	margin-left: 580px;
}
#commentBox{
	display:flex;
}
.comment-write{
	margin-left: 580px;
}
.comment{
	margin-left: 580px;
}
.comment-cont{
	border: 1px solid black;
	padding: 15px;
	width:703px;
}
.comment-day{
	position:absolute;
	right: 589px;
}
.cont-de,.cont-ch{
	width:70px;
	height:30px;
}
.content-change{
	position:absolute;
	top:503px;
	right:586px;
}
.footer{
	position: relative;
	top: 150px;
}

