@charset "UTF-8";
body {
	background-color: #ddffff;
    font-family: 'Ubuntu', sans-serif;
   text-align: center;
   	}
 
.main {
        background-color: #FFFFFF;
        width: 900px;
        height: 800px;
        margin: 5em auto;
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
    
    .sign {
        padding-top: 40px;
        color: #000;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 23px;
    }
    

    
    form.form1 {
        padding-top: 40px;
    }

    


     
    .submit,.reset {
      cursor: pointer;
        border-radius: 5em;
        color: #fff;
        background: skyblue;
        border: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: 'Ubuntu', sans-serif;
        margin-top:35px;
        font-size: 18px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
        width: 200px;
        font-weight: bold;;
    }
   
    
    a {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: #000;
        text-decoration: none
    }
    
    @media (max-width: 600px) {
        .main {
            border-radius: 0px;
     }
    } 
    .main-signup{
        text-align: center;
        width: 400px;
        margin:auto;
    }
    h3{
        margin: 19px 60px 13px;
        text-align: left;
        font-size: 16px;
        font-family: Dotum,'돋움',Helvetica, sans-serif;
    }
 
    .signup-input{
        display:flex;
        padding:10px;
        width: 793px;
        border: solid 1px #dadada;
        background-color: #fff;
        cursor:pointer;
        
    }

     #board-type-select{
        width: 100px;
        height: 29px;
        border: none;
        outline:none;
    
    }
    #signup-name, .board-type-select{
        width:700px;
        height: 29px;
        border: none;
        outline:none;
        
    }
   
     span {
    width: 720px;
    margin: auto;
    } 
  